*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-bottom: 200px;
    height: 200vh;
}

nav{
    color: green;
    background-color: black;
    padding-bottom: 20px;
    width: 100%;
    top: 0;
    position: sticky;
}

section{
    padding-bottom: 60px;
}