.services {
    background-color: #000;
    color: #fff;
    padding: 60px 50px;
  
    .container {
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
    }
  
    .heading {
      margin-bottom: 30px;
      font-size: 60px;
      font-weight: 600;
  
      span {
        background: linear-gradient(to right, #a855f7, #f59e0b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin-top: 40px;
  
      .card {
        background-color: #111;
        padding: 20px;
        border: 2.5px solid white;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        transition: transform 0.5s;
        cursor: pointer;
  
        h2 {
          font-size: 1.2rem;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 1.1rem;
          color: #d4d4d4;
          margin-bottom: 20px;
        }
  
        .link {
          color: #a855f7;
          text-decoration: none;
          font-size: 1.1rem;
        }
      }
    }
    .card:hover{
      transform: scale(1.05);
      border: 2.5px solid #a855f7;
      background: linear-gradient(to right, #4a0718, #75380a);
    }
  }
  
  @media (max-width: 768px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  