*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#calculator{
    width: 100%;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color:rgb(245, 209, 215);
    padding: 40px 10px;
    width: 40%;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 7px;
    font-size: 35px;
}

.result{
    width: 90%;
    background-color: black;
    position: relative;
    border-radius: 8px;
    margin: 3px 0;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.result span{
    position: absolute;
    color: white;
    font-size: 25px;
    right: 10px;
}

.values{
    width: 90%;
    padding-top: 20px;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values input{
    width: 60%;
    padding: 10px 20px;
    margin-bottom: 15px;
}

.btn{
    width: 90%;
    padding:7px;
    margin: 7px 0;
    cursor: pointer;
    font-size: 15px;
}

.reset{
    border: 1.5px solid black;
    width: 90%;
    padding: 8px;
    margin-top: 15px;
    background-color: rgb(240, 175, 54);
    cursor: pointer;
}
