%button{
    border-radius: 5px;
    color: white;
    background-color: $orange;
    border: 1px solid $orange;
    font-weight: 900;
    width: 154px;
    height: 48px;
    font-size: 14px;
    cursor: pointer;
  }