.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
    background-color: #000;
    color: #fff;
    transition: 0.5s;
  
    .logo {
      font-size: 1.7rem;
      font-weight: bold;
      cursor: pointer;
      color: #a855f7;
    }
    .logo:hover{
      background: linear-gradient(to right, #a855f7, #f59e0b);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    
    .nav ul {
        display: flex;
        list-style: none;
        gap: 30px;
        
        li a {
          position: relative; 
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          font-weight: 550;
          transition: color 0.5s;
    
          &:hover {
            color: #ffe4db;
          }
    
          &::after {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 2px;
            background: linear-gradient(to right, #a855f7, #f59e0b);
            transition: width 0.5s ease-in-out;
          }
    
          &:hover::after {
            width: 100%;
          }
      }
    }
  
    .connectBtn {
      background: linear-gradient(to right, #a855f7, #f59e0b);
      color: white;
      border: none;
      padding: 15px 20px;
      border-radius: 40px;
      cursor: pointer;
      transition: transform 0.5s;

  
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  
  @media (max-width: 768px) {
    .nav ul {
      flex-direction: column;
    }
  }
  