%h1text{
    font-size: 36px;
    font-weight: 600;
    color: #222222;
}


%h2text{
    font-weight: 800;
    font-size: 56px;
    color: white;
  }
  
  %h4text{
    font-weight: 600;
    font-size: 18px;
    color: #222222;
  }
  
  %h5text{
    font-weight: 400px;
    font-size: 16px;
  }
  
  
  %ptext{
    font-size: 14px;
    font-weight: 300;
    color: #777777;
  }