%h2text{
    font-weight: 800;
    font-size: 56px;
    color: white;
  }
  
  %h4text{
    line-height: 32px;
    font-weight: 700;
    font-size: 24px;
    color: black;
  }
  
  %h5text{
    font-weight: 400;
    font-size: 16px;
    background: #EF6D58;
    ;
  }
  
  
  %ptext{
    font-size: 16px;
    font-weight: 400;
    color: rgb(199, 199, 199);
  }